<div style="display: flex; justify-content: center;align-items: center;margin-bottom: 10px;">
    View Mode: <mat-button-toggle-group style="margin-left: 10px;"  [(ngModel)]="tableMode">
        <mat-button-toggle [value]="true">Table</mat-button-toggle>
        <mat-button-toggle [value]="false">Grid</mat-button-toggle>
      </mat-button-toggle-group>
    <!-- <mat-slide-toggle [(ngModel)]="tableMode">{{tableMode?'Grid Mode':'Table Mode'}}</mat-slide-toggle> -->
</div>
<div style="display: flex; flex-direction: column;align-items: center;">
    <h1>
        Initial Bursts from EPF Model
    </h1>
</div>
<mat-grid-list *ngIf="!tableMode" cols="{{innerWidth>1145?2:1}}" rowHeight="4:3">
    
    <mat-grid-tile
    style="display: flex;flex-direction: column;justify-items: center;"
    *ngFor="let burst of filterAccepted(data)">
    <div class="chartWrapper">
    <apx-chart
            *ngIf="!rejectedBursts.includes(data.indexOf(burst))"
            class="{{mapClass(burst)}}"
            (click)="openPanel(data.indexOf(burst))"
            [series]="chartOptions[data.indexOf(burst)].series!"
            [chart]="chartOptions[data.indexOf(burst)].chart!"
            [xaxis]="chartOptions[data.indexOf(burst)].xaxis!"
            [dataLabels]="chartOptions[data.indexOf(burst)].dataLabels!"
            [grid]="chartOptions[data.indexOf(burst)].grid!"
            [stroke]="chartOptions[data.indexOf(burst)].stroke!"
            [title]="chartOptions[data.indexOf(burst)].title!"
        ></apx-chart>
            <mat-expansion-panel hideToggle #expanel>
                <div class="options">
                    <div class="params">
                    Bin Size: {{binSzValue}} <mat-slider [min]="binSzMin" [max]="binSzMax" [value]="binSzValue"></mat-slider><br>
                    Other Var: {{binSzValue}} <mat-slider [min]="varSzMin" [max]="varSzMax" [value]="varSzValue"></mat-slider>
                    </div>
                    <div class="reloadWithParams">
                        <button mat-raised-button color="primary">Reload</button>
                    </div>
                </div>
              </mat-expansion-panel>
        <table mat-table [dataSource]="[metaData[data.indexOf(burst)]]" style="width: 100%;" class="mat-elevation-z8">
            <ng-container matColumnDef="max">
                <th mat-header-cell *matHeaderCellDef>Max</th>
                <td mat-cell *matCellDef="let element">{{element.max}}</td>
            </ng-container>
            <ng-container matColumnDef="maxAt">
                <th mat-header-cell *matHeaderCellDef>Max at</th>
                <td mat-cell *matCellDef="let element">{{element.maxAt}}</td>
            </ng-container>
            <ng-container matColumnDef="avg">
                <th mat-header-cell *matHeaderCellDef>Average</th>
                <td mat-cell *matCellDef="let element">{{element.avg}}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
        <div class="editButtons">
            <button 
            *ngIf="editable"
            mat-raised-button 
            style="color: white;background-color: red;"
            (click)="rejectedBursts.push(data.indexOf(burst))"
            >
            Remove
                <mat-icon>delete</mat-icon>
            </button>

    </div>
    </mat-grid-tile>
    <mat-grid-tile
    style="display: flex;flex-direction: column;justify-items: center;"
    *ngFor="let burst of filterRejected(data)">
    <div class="chartWrapper">    
    <apx-chart
            *ngIf="rejectedBursts.includes(data.indexOf(burst))"
            class="{{mapClass(burst)}}"
            [series]="chartOptions[data.indexOf(burst)].series!"
            [chart]="chartOptions[data.indexOf(burst)].chart!"
            [xaxis]="chartOptions[data.indexOf(burst)].xaxis!"
            [dataLabels]="chartOptions[data.indexOf(burst)].dataLabels!"
            [grid]="chartOptions[data.indexOf(burst)].grid!"
            [stroke]="chartOptions[data.indexOf(burst)].stroke!"
            [title]="chartOptions[data.indexOf(burst)].title!"
        ></apx-chart>
        <div class="editButtons">
            <button 
            *ngIf="editable" 
            mat-raised-button 
            style="color: white;background-color: green;"
            (click)="rejectedBursts.splice(rejectedBursts.indexOf(data.indexOf(burst)),1)"
            >
            Add
                <mat-icon>check</mat-icon>
            </button>

        </div>
    </div>
    </mat-grid-tile>
    
    <mat-grid-tile-footer>
        
    </mat-grid-tile-footer>
</mat-grid-list>
<table  *ngIf="tableMode"style="width: 90%;margin: 5%;" mat-table [dataSource]="filterAccepted(tableData)" class="mat-elevation-z8">
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">
            <div class="editButtonsTable">
                Burst {{element.number}}
                <button 
                *ngIf="editable"
                mat-raised-button 
                style="color: white;background-color: red;"
                (click)="rejectedBursts.push(tableData.indexOf(element))"
                >
                Remove
                    <mat-icon>delete</mat-icon>
                </button>    
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="burst">
        <th mat-header-cell *matHeaderCellDef>Graph</th>
        <td mat-cell *matCellDef="let element">
            <apx-chart
            class="{{mapClass(element.burst)}}"
            [series]="tableChartOptions[data.indexOf(element.burst)].series!"
            [chart]="tableChartOptions[data.indexOf(element.burst)].chart!"
            [xaxis]="tableChartOptions[data.indexOf(element.burst)].xaxis!"
            [dataLabels]="tableChartOptions[data.indexOf(element.burst)].dataLabels!"
            [grid]="tableChartOptions[data.indexOf(element.burst)].grid!"
            [stroke]="tableChartOptions[data.indexOf(element.burst)].stroke!"
            [title]="tableChartOptions[data.indexOf(element.burst)].title!"
        ></apx-chart>
    
        </td>
    </ng-container>
    <ng-container matColumnDef="max">
        <th mat-header-cell *matHeaderCellDef>Max</th>
        <td mat-cell *matCellDef="let element">{{element.max}}</td>
    </ng-container>
    <ng-container matColumnDef="maxAt">
        <th mat-header-cell *matHeaderCellDef>Max at</th>
        <td mat-cell *matCellDef="let element">{{element.maxAt}}</td>
    </ng-container>
    <ng-container matColumnDef="avg">
        <th mat-header-cell *matHeaderCellDef>Average</th>
        <td mat-cell *matCellDef="let element">{{element.avg}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsMain"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsMain;"></tr>
</table>
<table  *ngIf="tableMode&&(rejectedBursts.length>0)" class="rejectedTable" style="width: 90%;margin: 5%;" mat-table [dataSource]="filterRejected(tableData)" class="mat-elevation-z8">
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">
            <div class="editButtonsTable">
                Burst {{element.number}}
                <button 
                *ngIf="editable"
                mat-raised-button 
                style="color: white;background-color: green;"
                (click)="rejectedBursts.splice(rejectedBursts.indexOf(tableData.indexOf(element)),1)"
                >
                    Add 
                    <mat-icon>check</mat-icon>
                </button>    
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="burst">
        <th mat-header-cell *matHeaderCellDef>Graph</th>
        <td class="hide" mat-cell *matCellDef="let element">
            <apx-chart
            class="{{mapClass(element.burst)}}"
            [series]="tableChartOptions[data.indexOf(element.burst)].series!"
            [chart]="tableChartOptions[data.indexOf(element.burst)].chart!"
            [xaxis]="tableChartOptions[data.indexOf(element.burst)].xaxis!"
            [dataLabels]="tableChartOptions[data.indexOf(element.burst)].dataLabels!"
            [grid]="tableChartOptions[data.indexOf(element.burst)].grid!"
            [stroke]="tableChartOptions[data.indexOf(element.burst)].stroke!"
            [title]="tableChartOptions[data.indexOf(element.burst)].title!"
        ></apx-chart>
    
        </td>
    </ng-container>
    <ng-container matColumnDef="max">
        <th mat-header-cell *matHeaderCellDef>Max</th>
        <td class="hide" mat-cell *matCellDef="let element">{{element.max}}</td>
    </ng-container>
    <ng-container matColumnDef="maxAt">
        <th mat-header-cell *matHeaderCellDef>Max at</th>
        <td class="hide" mat-cell *matCellDef="let element">{{element.maxAt}}</td>
    </ng-container>
    <ng-container matColumnDef="avg">
        <th mat-header-cell *matHeaderCellDef>Average</th>
        <td class="hide" mat-cell *matCellDef="let element">{{element.avg}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsMain"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsMain;"></tr>
</table>